.navigator-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 80vw;
}
.navigator-item{
    margin-left: 4vw;
    font-size: 1.2em;
}
.navigator-sublist{
    flex-direction: column;
}
.active{
    background-color: blue;
    color: white;
    font-size: 1.4em;
}